.homePage{
  width: 90%;
  margin: 5em auto;
  display: flex;
  justify-content: center;
}

.homePage p {
  font-size: 1.8em;
  font-weight: 600;
  margin: auto 1em;
  color:cornflowerblue
}

/* .Header {
  display: flex;
} */
